<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <!-- <a class="navbar-brand" href="#">Auth0 - Angular</a> -->
      <!-- <br> -->
      <!-- <div class="menu"> -->
        <ul>
          <li>
            <a routerLink="/" *ngIf="auth.isAuthenticated" > Home</a>

          </li>
          <li>
            <a href="#" *ngIf="!auth.isAuthenticated()" (click)="auth.login()" > Login</a>
          </li>

          <li>
            <a routerLink="/profile" *ngIf="auth.isAuthenticated" > Profile</a>
          </li>
          <li>
            <a href="#" *ngIf="auth.isAuthenticated()" (click)="auth.logout()"  > Logout </a>
          </li>
        </ul>
      <!-- </div> -->
    </div>
  </div>
</nav>

<main class="container">
  <router-outlet></router-outlet>
</main>